[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-ServiceTypes=Krita/PythonPlugin
X-KDE-Library=mittens_ui
X-Krita-Plugin-Name=mittens_ui
X-Krita-Plugin-Version=1
X-Python-2-Compatible=false
Name=mittens UI, Modular Interaction Toolkit for Transitional Effects, Navigation & Surfaces
Comment= this took me SO long its insane anyways it completely overhauls the krita UI
